@using System.Globalization
@using Zoombraco.Models
@using Zoombraco.Views
@inherits ZoombracoViewPage<IRenderPage<Zoombraco.Models.Page>>

@{
    Layout = "Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-12 col-md-4">
            <h1>
                <a href="/cheques">Click to navigate to Cheques</a>
            </h1>
        </div>
    </div>
</div>
    
