<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT iMeta ANY>
<!ATTLIST iMeta id ID #REQUIRED>
<!ELEMENT iRoutable ANY>
<!ATTLIST iRoutable id ID #REQUIRED>
<!ELEMENT iSearchable ANY>
<!ATTLIST iSearchable id ID #REQUIRED>
<!ELEMENT iXmlSitemap ANY>
<!ATTLIST iXmlSitemap id ID #REQUIRED>
<!ELEMENT chequeDetail ANY>
<!ATTLIST chequeDetail id ID #REQUIRED>
<!ELEMENT chequesList ANY>
<!ATTLIST chequesList id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1095" key="46df4c45-9a7b-4942-8998-2b671617b66c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-04-30T22:10:41" updateDate="2017-05-02T23:20:25" nodeName="Home" urlName="home" path="-1,1095" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="Home">
    <browserDescription><![CDATA[{"values":null,"dtdGuid":"9e260486-f2bd-4f92-b261-03ab8c407fb4"}]]></browserDescription>
    <browserWebsiteTitle><![CDATA[{"values":{"en-US":"Deepend Test"},"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserWebsiteTitle>
    <browserPageTitle><![CDATA[{"values":{"en-US":"Deepend Test"},"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserPageTitle>
    <switchTitleOrder>0</switchTitleOrder>
    <openGraphTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></openGraphTitle>
    <excludeFromSearchResults>0</excludeFromSearchResults>
    <priority><![CDATA[0.5]]></priority>
    <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
    <chequesList id="1103" key="7baea126-a2f3-4fe0-aab3-0340f8165b5d" parentID="1095" level="2" creatorID="0" sortOrder="0" createDate="2017-05-01T21:27:20" updateDate="2017-05-02T23:17:06" nodeName="Cheques" urlName="cheques" path="-1,1095,1103" isDoc="" nodeType="1101" creatorName="admin" writerName="admin" writerID="0" template="1100" nodeTypeAlias="chequesList">
      <browserDescription><![CDATA[{"values":null,"dtdGuid":"9e260486-f2bd-4f92-b261-03ab8c407fb4"}]]></browserDescription>
      <browserWebsiteTitle><![CDATA[{"values":{"en-US":"Deepend Test - Cheques"},"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserWebsiteTitle>
      <browserPageTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserPageTitle>
      <switchTitleOrder>0</switchTitleOrder>
      <openGraphTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></openGraphTitle>
      <excludeFromSearchResults>1</excludeFromSearchResults>
      <priority><![CDATA[0.5]]></priority>
      <excludeFromXmlSitemap>1</excludeFromXmlSitemap>
      <listOfCheques><![CDATA[[{"name":"Item 1","ncContentTypeAlias":"nestedCheque","id":null,"chequeName":"abc namee","date":"2017-05-03T00:00:00","amount":"123.22"},{"name":"Item 2","ncContentTypeAlias":"nestedCheque","id":null,"chequeName":"balaji mani","date":"2017-05-12T00:00:00","amount":"333"},{"name":"Item 3","ncContentTypeAlias":"nestedCheque","id":null,"chequeName":"Lorem Lipsum","date":"2017-05-28T00:00:00","amount":"12344"},{"name":"Item 4","ncContentTypeAlias":"nestedCheque","id":null,"chequeName":"fghhjj","date":"2017-05-11T00:00:00","amount":"122.22"}]]]></listOfCheques>
      <pageTitle><![CDATA[Cheques (list)]]></pageTitle>
      <chequeDetail id="1108" key="4016dc77-8c6f-4557-9dd8-fcf41eda4a81" parentID="1103" level="3" creatorID="0" sortOrder="0" createDate="2017-05-02T13:16:44" updateDate="2017-05-02T23:19:35" nodeName="ChequeDetail" urlName="chequedetail" path="-1,1095,1103,1108" isDoc="" nodeType="1099" creatorName="admin" writerName="admin" writerID="0" template="1098" nodeTypeAlias="chequeDetail">
        <browserDescription><![CDATA[{"values":null,"dtdGuid":"9e260486-f2bd-4f92-b261-03ab8c407fb4"}]]></browserDescription>
        <browserWebsiteTitle><![CDATA[{"values":{"en-US":"Deepend Test - Cheque Details"},"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserWebsiteTitle>
        <browserPageTitle><![CDATA[{"values":{"en-US":"Deepend Test - Cheque Details"},"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></browserPageTitle>
        <switchTitleOrder>0</switchTitleOrder>
        <openGraphTitle><![CDATA[{"values":null,"dtdGuid":"9a09797f-ab46-4e89-b48a-1c807f8741ca"}]]></openGraphTitle>
        <excludeFromSearchResults>0</excludeFromSearchResults>
        <priority><![CDATA[0.5]]></priority>
        <excludeFromXmlSitemap>0</excludeFromXmlSitemap>
        <pageTitle><![CDATA[Cheque Details]]></pageTitle>
      </chequeDetail>
    </chequesList>
  </Home>
</root>